<h1>Ajouter un utilisateurs</h1>

<%= link_to "Ajouter Utilisateur", signup_path, :class => "signup_button round" %>

<h1>Liste des utilisateurs</h1>

<%= will_paginate %>

<table border="1">
  <tr>
      <th>Pseudonyme</th>
      <th>Nom</th>
      <th>Profile</th>
      <th>Basculer Profile</th>
      <th>Supprimer</th>
  </tr>
  
     <% @users.each do |user| %>
       <%= render user %>
     <% end %>
  

</table>

<%= will_paginate %> 
