#vertical_nav {
    width: 160px;
    float : left;
}
#vertical_nav ul {
    margin: 0px;
    padding: 0px;
    
    -moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	border-radius:       10px;
}
#vertical_nav ul.top-level { background: white; }

#vertical_nav li { 
	list-style: none; 
	
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	border-radius:       10px;
}

#vertical_nav ul.top-level li {
    border-bottom: #fff solid;
    border-top: #fff solid;
    border-width: 1px;
}
#vertical_nav a {
    color: black;
    cursor: pointer;
    display:block;
    height:25px;
    line-height: 25px;
    text-indent: 10px;                  
    text-decoration:none;
    width:100%;
}
#vertical_nav a:hover { text-decoration:underline; }

#vertical_nav li:hover {
   background: #f90;
   position: relative;
}

#vertical_nav ul.sub-level { display: none; }

#vertical_nav li:hover .sub-level {
    background: #9FF36F;
    border: #fff solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 75px;
    top: 5px;
}

#vertical_nav ul.sub-level li {
    border: none;
    float:left;
    width:150px; 
}

#vertical_nav .sub-level { background: #999; }
#vertical_nav .sub-level .sub-level { background: #09C; }
                
/*IE RESET HELPER*/
#vertical_nav li:hover .sub-level .sub-level { display:none; }
#vertical_nav .sub-level li:hover .sub-level { display:block; }   
