<div id="horizontal_nav" class="round">
 <ul>
   <% if signed_in? %>
   
       <% if current_user.admin? %> 
        <li>Administrateur</li> 
       <% else %> 
        <li>Utilisateur</li> 
       <% end %>  
       
        <li><%= link_to "Deconnection", signout_path, :method => :delete %></li>
       
   <% else %>
    <li><%= link_to "S'identifier", signin_path %></li>
   <% end %>
 </ul>
</div>  
